.not-connected-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .zankoocodeDEX {
    text-align: center;
    margin-top: 2rem;
    height: 10%;
  }
  .connect-btn-div {
    margin-top: 2rem;
  }
  
  button {
    height: 10%;
    padding: 1rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgb(95, 159, 248);
    color: white;
    font-size: 1rem;
  }
  button:hover{
    cursor: pointer;
  }
  .image-div {
    margin-top: 4rem;
    width: 30%;
    height: 20%;
    margin-bottom: 5rem;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  
  .App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .welcome {
    margin-top: 3rem;
  }
  
  .DEX-description {
    margin-top: 1rem;
  }
  
  .buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: 20%;
  }
  
  .liquidity-tab-btn  {
    width: 40%;
  }
  .swap-tab-btn {
    width: 40%;
  }
  .image-sec {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 600px){
    .image-div {
      margin-top: 6rem;
      width: 40%;
      height: 30%;
      margin-bottom: 10rem;
    }
    .buttons {
      margin-top: 2rem;
      display: flex;
      justify-content: space-around;
      width: 50%;
    } 
  }